<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                    <div class="card card-default">
                        <div class="card-header bg-success text-white">Create New Inventory</div>
                        <div class="card-body">
                            <form>
                                <div class="form-group row">
                                    <label for="itemName" class="col-sm-4 col-form-label text-md-right">Item Name</label>
                                    <div class="col-md-6">
                                        <input id="itemName" type="text" class="form-control" v-model="itemName" required autofocus>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="itemPrice" class="col-sm-4 col-form-label text-md-right">Item Price</label>
                                    <div class="col-md-6">
                                        <input id="itemPrice" type="number" class="form-control" v-model="itemPrice" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="itemQuantity" class="col-sm-4 col-form-label text-md-right">Item Quantity</label>
                                    <div class="col-md-6">
                                        <input id="itemQuantity" type="number" class="form-control" v-model="itemQuantity" required>
                                    </div>
                                </div>
                                 <div class="form-group row">
                                    <label for="itemDescription" class="col-sm-4 col-form-label text-md-right">Item Description</label>
                                    <div class="col-md-6">
                                        <textarea id="itemDescription" class="form-control" rows="8" v-model="itemDescription"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="itemImage" class="col-md-4 col-form-label text-md-right">Item Image</label>
                                    <div class="col-md-6">
                                        <input id="itemImage" type="file" class="form-control" ref="image" v-on:change="handleFileUpload">
                                    </div>
                                </div>
                                <div class="form-group row mb-0">
                                    <div class="col-md-12 text-center">
                                        <button type="submit" class="btn btn-success" @click="handleSubmit">
                                            Create
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            title: 'Create New Inventories',
            itemName: '',
            itemQuantity: 0,
            itemPrice: '',
            itemDescription: '',
            image: '',
        }
    },
    mounted() {
        this.$store.dispatch('changeHeaderTitle', this.title);
    },
    methods: {
        handleFileUpload(e){
            let files = e.target.files || e.dataTransfer.files;
            if (!files.length)
                return;
            this.createImage(files[0]);
        },
        createImage(file) {
            let reader = new FileReader();
            let vm = this;
            reader.onload = (e) => {
                vm.image = e.target.result;
            };
            reader.readAsDataURL(file);
        },
        handleSubmit(e) {
            e.preventDefault();
            let data = {
                name: this.itemName,
                quantity: this.itemQuantity,
                price: this.itemPrice,
                description: this.itemDescription,
                image: this.image,
            }
            this.$store.dispatch('addInventory', data);
            if (this.$store.getters.isSuccess) {
                this.itemName = '',
                this.itemQuantity = '';
                this.itemPrice = '',
                this.itemDescription = '';
                this.file = null;
            }
        }
    }
}
</script>

<style scoped>

</style>