 <template>
    <div>
        <nav class="navbar navbar-expand-md navbar-light navbar-laravel">
            <div class="container">
                <router-link :to="{name: 'inventory'}" class="navbar-brand">Inventory Management System</router-link>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto"></ul>
                    <ul class="navbar-nav ml-auto">
                         <router-link :to="{ name: 'inventory' }" class="nav-link">All Inventory </router-link>
                        <router-link  v-if="isLoggedIn" :to="{name: 'inventory.create' }" class="nav-link">Create Inventory </router-link>
                        <router-link :to="{name: 'users' }" v-if="isLoggedIn && user_type == 1" class="nav-link">All Users </router-link>
                        <router-link :to="{name: 'users.create' }" v-if="isLoggedIn && user_type == 1" class="nav-link">Create User</router-link>
                        <router-link :to="{ name: 'login' }" class="nav-link" v-if="!isLoggedIn">Login</router-link>
                        <router-link :to="{ name: 'register' }" class="nav-link" v-if="!isLoggedIn">Register</router-link>
                        <span v-if="isLoggedIn">
                            <router-link :to="{ name: 'userpage' }" class="nav-link"> <Face /> Welcome, {{username + '!'}}</router-link>
                        </span>
                        <li class="logout nav-link" v-if="isLoggedIn" @click="logout"> Logout</li>
                    </ul>
                </div>
            </div>
        </nav>
        <main class="pt-4">
            <Header :title="title" />
            <router-view @loggedIn="change"></router-view>
            <Footer />
        </main>
    </div>
</template>
<script>
import Header from './Header.vue';
import Footer from './Footer.vue';
import Face from 'vue-material-design-icons/Face.vue';


export default {
    data() {
        return {
            username: null,
            user_type: 0,
        }
    },
    mounted() {
        this.setDefaults()
    },
    created() {
        this.$http.interceptors.response.use(undefined, function(err){
            return new Promise(function(resolve, reject) {
                if (err.status === 401 & err.config && !err.config._isRetryRequest) {
                    this.$store.dispatch('deleteSession')
                }
                throw err;
            });

        });
    },
    computed: {
        title() {
            return this.$store.getters.title;
        },
        cartCount() {
            return this.$store.getters.cart_count;
        },
        wishesCount() {
            return this.$store.getters.wishes_count;
        },
        isLoggedIn() {
            return this.$store.getters.isLoggedIn;
        }
    },
    methods : {
        setDefaults() {
            if (this.isLoggedIn) {
                const user = this.$store.getters.user;
                this.username = user.name;
                this.user_type = user.is_admin;
            }
        },
        change() {
            this.isLoggedIn = this.$store.getters.isLoggedIn != null
            this.setDefaults()
        },
        logout(){
            this.$store.dispatch('deleteSession');
            this.change();
            this.$router.push('/inventory')
        }
    },
    components: {
        Header,
        Footer,
        Face,
    }
}
</script>
<style>
.hero-section {
    height: 50vh;
    background: rgba(1,1,1,0.3);
    align-items: center;
    margin-bottom: 20px;
    margin-top: -20px;
}
.title {
    font-size: 60px;
    color: #ffffff;
}
.product-box {
    margin-top: 20px;
    text-align: center;
}

a {
    color: #E0320D;
}
a:hover {
    text-decoration: none;
    font-weight: bolder;
    color: #E0320D;
}

img {
    width: 100%;
}

.logout {
    cursor: pointer;
}
.create-bg {
    margin-top: 30px;
}
.no-order {
    width: 100%;
    text-align: center;
}
.addtowish {
    position: relative;
    top: -40px;
    font-size: 19px;
    color: #E0320D;
    cursor: pointer;
}
</style>