<template>
    <footer class="fixed-footer">
        <div class="container-fluid d-flex align-content-center justify-content-center flex-wrap ml-auto">
            <p>&copy; 2018. All Right Reserved. </p>
        </div>
    </footer>
</template>

<script>
export default {
    
}
</script>
<style scoped>
footer {
    background: #cacaca;
    width: 100%;
    margin-top: 10rem;
    padding-top: 15px;
}
</style>