<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                    <div class="card card-default">
                        <div class="card-header bg-success text-white">Create New User</div>
                        <div class="card-body">
                            <form>
                                 <div class="form-group row">
                                    <label for="name" class="col-md-4 col-form-label text-md-right">First Name</label>
                                    <div class="col-md-6">
                                        <input id="name" type="text" class="form-control" v-model="firstname" autofocus>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="name" class="col-md-4 col-form-label text-md-right">Last Name</label>
                                    <div class="col-md-6">
                                        <input id="name" type="text" class="form-control" v-model="lastname">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="name" class="col-md-4 col-form-label text-md-right">Username</label>
                                    <div class="col-md-6">
                                        <input id="name" type="text" class="form-control" v-model="username" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
                                    <div class="col-md-6">
                                        <input id="email" type="email" class="form-control" v-model="email" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                    <div class="col-md-6">
                                        <input id="password" type="password" class="form-control" v-model="password" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="password-confirm" class="col-md-4 col-form-label text-md-right">Confirm Password</label>
                                    <div class="col-md-6">
                                        <input id="password-confirm" type="password" class="form-control" v-model="password_confirmation" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="itemImage" class="col-md-4 col-form-label text-md-right">User Profile</label>
                                    <div class="col-md-6">
                                        <input id="itemImage" type="file" class="form-control" ref="image" v-on:change="handleFileUpload">
                                    </div>
                                </div>
                                <div class="form-group row mb-0">
                                    <div class="col-md-12 text-center">
                                        <button type="submit" class="btn btn-success" @click="handleSubmit">
                                            Create User
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            title: 'Create New User',
            firstname: "",
            lastname: "",
            username : "",
            email : "",
            password : "",
            password_confirmation : "",
            image: '',
        }
    },
    mounted() {
        this.$store.dispatch('changeHeaderTitle', this.title);
    },
    methods: {
        handleFileUpload(e){
            let files = e.target.files || e.dataTransfer.files;
            if (!files.length)
                return;
            this.createImage(files[0]);
        },
        createImage(file) {
            let reader = new FileReader();
            let vm = this;
            reader.onload = (e) => {
                vm.image = e.target.result;
            };
            reader.readAsDataURL(file);
        },
        handleSubmit(e) {
            e.preventDefault();
            if (this.password !== this.password_confirmation || this.password.length <= 0) {
                return toast.error('Password and confirm password not equal');
            }
            let data = {
                firstname: this.firstname,
                lastname: this.lastname,
                name: this.username,
                email: this.email,
                password: this.password,
                c_password: this.password_confirmation,
                image: this.image,
            }
            this.$store.dispatch('addUser', data);
            console.log(this.$store.getters.isSuccess);
            if (this.$store.getters.isSuccess) {
                this.firstname = '',
                this.lastname = '';
                this.username = '',
                this.email = '';
                this.password = '',
                this.password_confirmation = '';
                this.file = null;
            }
        }
    }
}
</script>

<style scoped>

</style>