<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12 justify-center">
                <router-view></router-view>
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style scoped>

</style>